<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2Aubdnb9lmCMNf7r57RASXB7gnYsH5Es</string>
	<key>GCM_SENDER_ID</key>
	<string>159632032979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unifood</string>
	<key>PROJECT_ID</key>
	<string>final-project-mobile-dev-db993</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-mobile-dev-db993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159632032979:ios:086c6c7887f15ba4800026</string>
</dict>
</plist>